# Dependencies
node_modules/

# Build output
dist/
build/

# Environment
.env
.env.local

# OS
.DS_Store

# Chrome extension artifacts
*.crx
*.pem

# Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
*.iml

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
